
@color: rgb(6, 190, 0);

body {
   padding: 0px;
   margin: 0px;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   overflow-x: hidden;
}
.test-btn {
    background-color: @color;
    padding: 15px;
    margin-left: 15px;
    margin-top: 25px;
    cursor: pointer;
}
.text-to-center{
    text-align: center;
}
p,h2,h1,h3,h4,h5,h6{
    color: #665d5c;
}
p{
    font-size: 1rem;
}